<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
</head>
<body>

    <div class="container">
        <h1>Nutrition</h1>
        <p>
            Nutrition is the study of nutrients in food, how the body uses them, 
            and the relationship between diet, health, and disease. Nutritionists use ideas 
            from molecular biology, biochemistry, and genetics to understand how nutrients affect the human body.
        </p>
    </div>
    
</body>
</html>