body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100vw;
    background-image: url("../src/food_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
}

.container {
    padding: 0 0 0 50vw;
}