.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: rgb(181, 188, 188);

}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}