body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main {
    width: 100vw;
    overflow: auto;
}

.contact {
    display: flex;
    flex-grow: 1;
    height: 100px;
}

.contact .box {
    width: 48VW;
    height: 100PX;
    margin: 0;
    padding: 0 0 0 10vw;
    text-align: center left;
    box-sizing: border-box;
}

.contact .box9 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10vw;
}

.contact .box9 img {
    padding: 10px;
}

.submain {
    width: 80vw;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 28px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  8px 8px 16px #7b7b7b,
             -8px -8px 16px #7b7b7b;
}

.header {
    width: 80vw;
    border-radius: 20px 20px 0 0;
    background-color: rgb(7, 132, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
}

.header .img {
    justify-content: center;
    position: absolute;
    width: 210px;
    height: 210px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    left: 50px;
    top: 40px;
    box-shadow:  5px 5px 10px #2a2929,
             -5px -5px 10px #2f2d2d;
}

.title {
    text-align: left;
    padding-bottom: 50px;
}

.header .title button {
    padding: 10px;
    border-radius: 20px;
    border: 0;
    margin-right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header .title h1, .header .title h4 {
    color: white;
}

.header .title #hire {
    background-color: #2fdf58;
}
.content {
    width: 80vw;
}

.about {
    margin-top: 100px;
    display: flex;
    flex-grow: 1;
}

.box {
    width: 40vw;
    text-align: justify;
    margin-left: 50px;
   
}

.box2 {
    display: flex;
    flex-grow: 1;
    font-size: 1.2rem;
}

.pre {
    max-width: 200px;
}

.skill {
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.skill.box {
    width: 40vw;
    background-color: #2fdf58;
}

.progress-out {
    background-color: #cacaca;
    border-radius: 10px;
}

.progress-in {
    background-color: rgb(27, 157, 244);
    border-radius: 10px;
}

.skill .box3 .progress-out {
    background-color: #cacaca;
}

.skill .box3 .progress-in {
    background-color: rgb(44, 197, 103);
}

@media only screen and (max-width: 968px) {
    .header {
        display: block;
    }

    .img {
        position: relative;
        margin: auto;
    }

    .about {
        display: block;
    }

    .about .box {
        width: 80%;
    }
    .title {
        margin-top: 50px;
        margin-left: 50px;
    }

    
  }   

